.posts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}
.posts {
  border: none;
  outline: none;
  background-color: #212121;
  width: 35vw;
  margin: 30px 0px;
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.posts:hover {
  background-color: #9333ea;
  color: #212121;
  box-shadow: 0 0 15px #9333ea;
}

.flexx {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}
.select-container {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 0;
  width: 200px;
  padding: 10px;
  background-color: #212121;
  color: white;
  border-radius: 4px;
}
.select-container:hover {
  box-shadow: 0 0 5px #9333ea;
}


@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
