.card {
  width: 40vw;
  min-height: 80vh;
  background: #212121;
  padding: 1em;
  border-radius: 7px;
  margin-bottom: 2.5em;
  color: white;
  transition: 0.3s;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #9333ea

}

.card-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 80%;
  height: 40vh;
  border-radius: 6px 6px 0 0;
}

.heading {
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.description {
  color: rgb(145, 145, 145);
  font-weight: 400;
  font-size: 1em;
  padding-top: 20px;
}
.category {
  font-weight: 400;
  font-size: 0.8em;
  padding-top: 10px;
}
.votes{
  font-weight: 600;
  font-size: 1.2em;
}
.action {
  background-image: linear-gradient(
    to right,
    #b769d1 0%,
    #9333ea 50%,
    #933eaf 100%
  );
  padding: 10px 35px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-top: 15px;
}
.delete{
  background-image: linear-gradient(
    to right,
    #ce2323 0%,
    #af3e6f 60%,
    #ff5151 100%
  );
}
.update{
  background-image: linear-gradient(
    to right,
    #23ce45 0%,
    #9333ea 60%,
    #79ef67 100%
  );

}

.action:hover {
  background-position: right center;
  text-decoration: none;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
}
